html, body{
    margin: 0;
    height: 100%;
    font-family: "Rajdhani", sans-serif;
}
*{
    box-sizing: border-box;
}
.line{
    height: 20px;
    background-color: rgb(247, 226, 255);
}
.main-container{
    height: calc(100% - 20px);
    width: 100%;
    display: flex;
}

.new-note{
    height: 100%;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea{
    margin-top: 10px;
    width: 1000px;
    height: 500px;
    resize: none;
    background-color: inherit;
    font-size: 16px;
    padding: 20px;
    overflow: auto;
    display: none;
    background-color: rgb(255, 242, 254);
    font-family: 'Indie Flower', sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82);

    border-radius: 10px;

}

.new-note-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plus-img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

h1{
    margin: 10px 0;
    font-size: 25px;
    font-weight: 400;
    font-family: sans-serif;
    color: rgb(189, 33, 221);
    font-family: "Rajdhani", sans-serif;
    text-align: center;
}

.button-box{
    display: flex;
    margin-top: 20px;
    display: none;
}
.note-content{
    width: 80%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    width: 80px;
    height: 26px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(226, 82, 255);
    color: white;
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    margin: 0 5px;
}
.note-list{
    width: 25%;
    max-width: 360px;
    height: 100%;
    background-color: rgb(234, 155, 252);

    overflow-y: auto; 
    padding: 15px;
    box-sizing: border-box;
}
label {
    color: white;
}
.note{
    height: 50px;
    max-width: 340px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    padding: 7px;

    overflow: hidden;
    white-space: pre-wrap; 
    text-overflow: ellipsis; 

    background-color: rgb(249, 234, 255);
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: inherit;

    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
    text-overflow: ellipsis; 

    
}
.note-date{
    font-size: 14px;
    margin-bottom: 20px;
    color: white;
}

.confirm-delete{
    width: 350px;
    height: 110px;
    background-color: rgb(241, 225, 255);
    border-radius: 10px;

    position: absolute;
    left: 50%;
    top: 40%;
  
}

.confirm-delete p{
    font-family: inherit; 
    font-weight: 700;
    color: rgb(82, 82, 82);
    text-align: center;
}

.button-container{
    text-align: center;
}

.note-list p{
    color: white;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    
    height: 30px;
    line-height: 1.5;
    font-family: inherit;
}

